<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<style type="text/css">
		#utxt {
			font-style: arial;
			background-color: #73AD21;
			border-width: 2px;
			border-color: blue;
			border-radius: 15px 50px;
			padding: 20px;
			color: white;
		}
	</style>
</head>
<body>
	<h1>Home Page</h1>
	<h2>Vice Versa Project</h2>
	<form action="{% url 'reverse' %}">
		<textarea id="utxt" name="usertext" rows="15" cols="35">
  		</textarea>
  		<br><br>
  		<p><input type="Submit" value="Reverse!"></p>
	</form>

</body>
</html>